@media screen and (min-width:993px) {
    .navbar-nav {
        display: inline-block;
    }

    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media screen and (max-width:992px) {
    .navigation-wrapper {
        position: relative;
    }

    .navbar-nav {
        display: none;
        width: 100%;
        margin: 15px 0px 0px;
    }
    .navbar-nav li {
        display: block;
        width: 100%;
    }
    .navbar-toggle {
        display: inline-block;
    }
    .language-icons {
        position: absolute;
        top: -15px;
        right: 85px;
    }
}