@media(min-width:993px) {

    .intro-wrapper {
        padding-top: calc(50vh - 170px) !important;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
    .collapse-content {
        position: absolute;
        right: 120px;
    }
    .navigation-wrapper {
        position: relative;
    }
    .navbar-nav{
        padding: 15px 0 15px;
        display: inline-block;
    }
}
@media(max-width:992px) {
    .logo-img {
        padding-left: 20px;
    }

    .navbar-default {
        padding: 5px 0;
        border: 0;
        background-color: #222;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink  {
        font-size: 1.1em;
    }

    .language-icons {
        position: absolute;
        margin-right: 0;
        margin-top: 0;
        top: 31px !important;
        right: 200px !important;
    }
    .language-icons ul li{
        display: inline-block;
        padding: 0 5px;
    }
    .intro-wrapper {
        padding-top: calc(50vh - 100px) !important;
    }
    .navbar-toggle {
        display: inline-block;

    }
    .navbar-nav {
        display: none;
        float: none !important;
    }
}