<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ ABOUT_INTRO }}</h2>
        </div>
    </div>

    <div class="row text-center">
        <p>{{ aboutUs }}<p>
    </div>
</div>