 <div class="intro-text">
    <div class="intro-lead-in">{{ LEAD_IN }}</div>
    <div class="intro-heading">Club Kreatornica</div>
    <a href="#about_us" class="page-scroll btn btn-xl">{{ BTN }}</a>
</div>