<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> O nama - Izmeni sekciju o nama</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="?page=home-admin">Pocetna</a></li>
            <li><i class="fa fa-laptop"></i>O nama</li>
        </ol>
    </div>
</div>

<div ng-app="aboutUs" ng-controller="AboutUsController">
    <form class="form-horizontal" action="" method="post" id="about-form">
        <section class="panel">
            <div class="panel-body">

                <div class="form-group">
                    <label class="control-label col-lg-2" for="inputSuccess">Izaberi jezik: </label>
                    <div class="col-lg-10">
                        <select class="form-control m-bot15" id="about-us-lang" ng-model="languageSelected" name="language">
                            <option value="sr">Srpski</option>
                            <option value="sk">Slovački</option>
                            <option value="en">Engleski</option>
                        </select>
                    </div>
                    <label class="control-label col-lg-2" for="inputSuccess">Izmeni naslov: </label>
                    <div class="col-lg-10">
                        <input class="form-control input-lg m-bot15" id="title" type="text" name="title" placeholder="Izmeni naslov" value="{{ aboutUsTitle }}"/>
                    </div>
                    <label class="control-label col-lg-2" for="inputSuccess">Izmeni podnaslov: </label>
                    <div class="col-lg-10">
                        <input class="form-control m-bot15" id="subtitle" type="text" name="subtitle" placeholder="Izmeni podnaslov" value="{{ aboutUsSubtitle }}"/>
                    </div>
                </div>
            </div>

        </section>

        <div class="row">

            <!-- CKEditor -->
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Izmeni sadržaj
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Unesi tekst: </label>
                                <div class="col-sm-10">
                            <textarea class="form-control" name="content" rows="10"
                                      id="about-text">{{  aboutUs }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <input type="hidden" name="action" value="saveAboutUs" />
                <button class="btn btn-primary" type="button" id="save-about-us">Ažuriraj sekciju</button>
            </div>
        </div>
    </form>
</div>



