<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="member-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Da li ste sigurni?</h4>
            </div>
            <div class="modal-body clearfix">
                <form role="form" method="post" action="#" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="deleteMember" />
                    <input type="hidden" name="member_id" value="" />
                    <button type="submit" class="btn btn-primary pull-right" id="delete-member">Potvrdi</button><img class="loader hidden" src="{{ ROOT_PATH }}img/ajax-loader.gif" alt="Loading"/>
                </form>
            </div>
        </div>
    </div>
</div>