<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Aktivnosti - Izmeni sekciju</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Pocetna</a></li>
            <li><i class="fa fa-laptop"></i>Naslovna</li>
        </ol>
    </div>
</div>

<section class="panel">
    <div class="panel-body">
        <form class="form-horizontal " method="post" action="requests.php" enctype="multipart/form-data"  name="home-form" id="home-form">

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div>
                            <p class="help-block">Unesi naslovnu sliku stranice</p><br>
                            <input type="file" id="home-image" name="home_image">
                        </div>
                    </section>

                    <label class="control-label text-left col-lg-1" for="video-link" >Unesi video link: </label>
                    <div class="col-lg-11">
                        <input class="form-control input-lg m-bot15" type="text" name="link" placeholder="Unesi video link" id="video-link" value=""/>

                        <div class="alert alert-info">
                            <strong>Info!</strong> Link uneti u formatu "https://www.youtube.com/watch?v=c__uV-ZVhwc"
                        </div>
                    </div>
            
                </div>
            </div>


            <button type="submit" class="btn btn-primary" form="home-form" id="save">Pošalji</button>
            <img class="loader display-none" src="{{ ROOT_PATH }}img/ajax-loader.gif" alt="Loading"/>
            <input type="hidden" name="action" value="setHomeData"/>
        </form>
    </div>
</section>
