<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="member-update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Izmeni/Ubaci podatke o članu</h4>
            </div>
            <div class="modal-body">

                <form role="form" method="post" action="#" enctype="multipart/form-data" id="update-member-form">
                    <div>
                        <select class="form-control m-bot15" name="language" id="bio-language">
                            <option value="sr">Srpski</option>
                            <option value="sk">Slovački</option>
                            <option value="en">Engleski</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="member-name">Ime i Prezime</label>
                        <input type="text" class="form-control" id="member-name" name="name" placeholder="Ime i Prezime">
                    </div>

                    <div class="form-group">
                        <label for="member-email">E-mail</label>
                        <input type="text" class="form-control" id="member-email" name="email" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <label for="member-phone">Telefon</label>
                        <input type="text" class="form-control" id="member-phone" name="phone" placeholder="Telefon">
                    </div>

                    <div>
                        <section class="panel">
                            <header class="panel-heading">
                                Izmeni Bografiju
                            </header>
                            <div class="panel-body">
                                <div class="form">
                                    <div class="form-group">
                                        <div class="">
                                            <textarea class="form-control" id="member-bio" name="member-bio" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="form-group">
                        <label for="member-image">Unesi sliku</label>
                        <input type="file" name="image" id="member-image" />
                    </div>

                    <input type="hidden" name="action" value="saveUpdatedMember" />
                    <input type="hidden" name="member_id" id="member-id" value="" />
                    <button type="submit" class="btn btn-primary" id="save-member">Pošalji</button>
                    <img class="loader hidden" src="{{ ROOT_PATH }}img/ajax-loader.gif" alt="Loading"/>
                </form>
            </div>
        </div>
    </div>
</div>